$purple: #7839F3;
$sofpurple: #ECE3FE;
$darpurple: #F5EFFF;
$darkpurple: #4D1DAB;
$white: #fff;
$black: #211B3D;
$green: #31B380;
$red: rgb(247, 51, 83);
$lildarpurple: #5B5575;
$brpurple: #CBB0FF;
$newpurple: #E7E5F4;
$graypurple: #EAE8F5;
$darkwhite: #F7F7FB;
$graypurplenew: #6F6A86;
$darkpurplenew: #4D1CAB;
$font-weights: ("light": 300, "regular": 400, "medium": 500, "semibold": 600);
body {
    background-color: #FFFFFF;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

// Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-toggler {
        color:#000;
    }
    .navbar-nav {
        .nav-link {
            color: #dadada !important;
            &.active {
                font-weight: bold;
                color: #FFF !important;
            }
            &:hover {
                color: #fff !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: transparent;
    color: #dadada;
    
    &:hover {
        // background-color: #1E3771;
        color: #ffffff;
    } 
}

// Header
header {
    padding: 180px 0 165px;
    margin-top: -68px;
    background-image: url('../images/header.jpg');
    background-size: cover;

    h1, p {
        color: #FFFFFF;
    }

    h1 {
        // font-family: 'Playfair Display', serif;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #3F0071;
        color: #FFF;
        
        &:hover {
            background-color: $black;
            color: #FFF;
        }
    }
}

// Statistics 
.section-stats {
    margin-top: -36px;
    .stats-detail {
        padding-top: 8px;
        background-color: #fff;
        padding-left: 66px;
    }
    .custom-form
    {
        background-color: transparent !important;
        padding: 14px;
        .btn-add-now {
            background-color: #000;
            color: #FFF;

            &:hover {
                background-color: #150050;
                color: #FFF;
            }
        }
    }
    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

// Popular
@media (max-width: 1199px){
    .section-popular {
        margin-top: -98px !important;
    }
}
.section-popular {
    min-height: 540px;
    background-color: #000;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading{
        margin-top: 150px;

        h2,p {
           color: #FFF; 
        }

        h2 {
            // font-family: 'Playfair Display', serif;
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }
}


.section-popular-content {
 .section-popular-travel {
    .card-travel {
        min-height: 380px;
        background-color: #DDD;
        color: #FFF;
        padding: 30px;
        background-size: cover;
        margin-bottom: 20px;
    }

    .travel-country {
        font-size: 18px;
        color: #FFF;
    }

    .travel-location{
        font-size: 26px;
        color: #FFF;
    }

    .travel-button {
        .btn-travel-details {
            background-color: #3F0071;
            color: #FFF;

            &:hover {
                background-color: $black;
                color: #FFF;
            }
        }
    }
 }       
}

.section-networks {
    background-color: $black;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}

.section-testimonial-heading {
    // background: linear-gradient(#fff 0%, #f7f9ff 100%);
    background-color: $black;
    padding-top: 50px;
    min-height: 506px;

    h2 {
        color: $white;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
    }
    
    p {
        color: $white;
        font-size: 18px;
    }
}

.section-testimonial-content {
    background-color: #000;
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
        }

        h3 {
            font-size: 22px;
        }

        .testimonial {
            font-weight: 200;
            font-size: 26px;
            color: #6e6e6e;
            min-height: 160px;
        }

        .trip-to {
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }

        hr {
            margin-left: -20px;
            margin-right: -20px
        }
    }

    .btn-get-started {
        background-color: #3F0071;
        color: #FFF;
        
        &:hover {
            background-color: $black;
            color: #FFF;
        }
    }

    .btn-need-help {
        background-color: #F2F2F2;
        color: #C3C3C3;
        
        &:hover {
            background-color: #FAFAFA;
            color: #C3C3C3;
        }
    }
}

.section-footer {
    a {
        font-family: 'Ubuntu', sans-serif;
        color: #071C4D;
    }
}

.section-details-header {
    min-height: 310px;
    background-color: #E4E6EB;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071C4D;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
            color: #B1B1B1;
        }

        h3 {
            font-weight: 300;
            font-size: 14px;
            color: #071C4D;
        }

        .trip-informations {
            th {
                font-weight: 300;
                font-size: 18px;
                color: #071C4D;
            }

            td {
                font-weight: 300px;
                font-size: 18px;
                color: #B1B1B1;
            }

            .text-blue {
                color: #071C4D;
                font-weight: bold;
            }

            .text-orange {
                color: #FF9E53;
                font-weight: bold;
            }
        }

        .payments-instructions {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .bank {
            .bank-item {
                h3 {
                    font-size: 18px;
                    color: #071C4D;
                    margin-bottom: 0;
                }

                p {
                    margin-bottom: 0;
                }

                .description {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    p {
                        font-weight: normal;
                        font-size: 16px;
                        color: #071C4D;
                    }
                }
            }

            .bank-image {
                width: 45px;
                height: 45px;
                float: left;
            }
        }

        .disclaimer {
            font-weight: 300;
            font-size: 14px;
            color: #B1B1B1;
        }

        .gj-datepicker {
            .datepicker {
                border-right: 0;
            }

            .input-group-append {
                .btn {
                    padding-right: 30px;
                }
            }
        }

        

    }

    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }

    .features {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            color: #071C4D;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery {
        .xzoom-container {
            display: block;
        }

        .xzoom {
            width: 100%;
            box-shadow: none;
            margin-bottom: 10px;
        }

        .xactive {
            border: 4px solid #1ABC9C;
            box-shadow: none;
        }
    }

    .member {
        .member-image {
            width: 40px;
            height: 40px;
        }
    }

    .join-container {
        margin-top: -16px;
    }

    .btn-join-now {
        background-color: #FF9E53;
        color: #FFF;
        border-radius: 0;

        &:hover {
            background-color: #FFB57C;
            color: #FFF;
        }
    }
}

.section-success {
    height: 90vh;

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071C4D;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #B1B1B1;
    }
    
    .btn-home-page {
        border-radius: 4px;
        background-color: #071C4D;
        color: #FFF;

        &:hover {
            background-color: #2A488E;
            color: #FFF;
        }
    }
}

.login-user {
    .right {
        width: 50%;
        float: left;
        padding: 120px;
        .people {
            margin-top: 100px;
            height: 170px;
        }
        .logo {
            height: 42px;
            margin-bottom: 100px;
        }
        .btn-border {
            border: 1px solid $newpurple;
            border-radius: 50px;
            padding: 12px 80px 12px 80px;
        }
        .btn-google-login {
            margin-top: 40px;
            .icon {
                margin-right: 8px;
            }
        }
    }
    .left {
        background-color: $black;
        width: 50%;
        min-height: 900px;
        text-align: center;
        float: left;
        img {
            margin-top: 160px;
            height: 540px;
        }
    }
}

.clear {
    clear: both;
}

// .btn-master {
//     padding: 11px 36px 11px 36px;
//     border-radius: 100px;
//     border: 0;
//     font-weight: map-get($font-weights, medium);
// }
// .btn-primary {
//     @extend .btn-master;
//     background: $purple;
//     color: $white;
//     &:hover {
//         background: $green;
//     }
// }

// .checkout {
    
//     .story {
//         font-weight: map-get($font-weights, semibold);
//         font-size: 16px;
//         color: $green;
//     }
    
//     .primary-header {
//         font-weight: map-get($font-weights, semibold);
//         font-size: 30px;
//         color: $black;
        
//     }
//     padding-top: 80px;
//     padding-bottom: 80px;
//     .item-bootcamp {
//         .cover {
//             height: 255px;
//             margin-bottom: 30px;
//         }
//         .package {
//             font-size: 22px;
//             color: $green;
//             font-weight: map-get($font-weights, semibold);
//         }
//         .description {
//             font-size: 16px;
//             color: $black;
//             font-weight: map-get($font-weights, regular);
//             line-height: 30px;
//         }
//     }
// }



// .navbar-alternate-custome  {
    
//     box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
//     -webkit-box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
//     -moz-box-shadow: 1px 8px 61px 0px rgba(22, 28, 51, 0.08);
//     padding: 24px 0 24px 0;
//     .user-logged {
//         a {
//             color: $black;
//             text-decoration: none;
//         }
//         .user-photo {
//             width: 56px;
//             height: 56px;
//             margin-left: 10px;
//         }
//     }   
//     .navbar-nav {
//         .nav-link {
//             color: $black;
//             font-weight: map-get($font-weights, regular);
//             padding-left: 30px;
//         }
//         .active {
//             color: $purple !important;
//             font-weight: map-get($font-weights, medium);
//         }
//     }
//     .navbar-brand {
//         img {
//             height: 42px;
//         }
//     }

// }
.section-success {
    height: 92vh;
    background-color: $black;
    h1 {
        font-weight: 600;
        font-size: 26px;
        // color: #071C4D;
        color: $white;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #B1B1B1;
    }
    .btn-master {
        padding: 11px 36px 11px 36px;
        border-radius: 100px;
        border: 0;
        font-weight: map-get($font-weights, medium);
    }
    
    .btn-thirdty {
        @extend .btn-master;
        background: $green;
        color: $white;
    }
    
        .btn-home-page {
            @extend .btn-master;
            background: #3F0071;
            color: $white;
            &:hover {
                background: $green;
            }
        }
    // .btn-home-page {
    //     border-radius: 4px;
    //     background-color: #071C4D;
    //     color: #FFF;

    //     &:hover {
    //         background-color: #2A488E;
    //         color: #FFF;
    //     }
    // }
}